<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="map contents for Korean elementary social subject">
    <meta name="author" content="Dogun">
    <link rel="icon" type = "image/png" href = "imgs\map.png">
    <title>초등사회지도학습</title>
    <script src="https://kit.fontawesome.com/02390708a3.js" crossorigin="anonymous"></script>
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="cover.js" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ad88d7a8e094180a8cd1057c875dd395"></script>
    
</head>
<body>
    <!-- Navbar -->
    <section id='navbar'>
        <div class='header__logo'>
            <a href="#">mapmap</a>
        </div>
        <div class="navbar__menu">
            <ul class="nav__links nav__links--left">
                <li class="nav__links--item">개요</li>
                <li class="nav__links--item">정보</li>
                <li class="nav__links--item">연락처</li>
            </ul>
            <ul class="nav__links nav__links--right">
                <li class="nav__entrance__button">입장하기</li>
            </ul>
        </div>
    </section>

    <!-- Summary -->
    <section id="summary">
        <div class="summary__description">
            <h1 class="summary__title">여러분의 사회 수업을 더욱 알차게!</h1>
            <h3 class="summary__subtitle">인구 분포를 확인해 보세요.</h3>
            <button class="summary__entrance">입장하기</button>
        </div>
        <div class="map__img">
            <img class="night" src="imgs/night.png" alt="" width="200px" />
            <img class="popu" src="imgs/popu.png" alt="" width="200px" />
            <img class="traff" src="imgs/traff.png" alt="" width="200px" />
            <img class="divi" src="imgs/divi.png" alt="" width="200px" />  
        </div>
        

    </section>
    

    <!-- About -->
    <section id='about' class="section">
        <div class="section__container">
            <h1>대한민국 정보</h1>
            <div class="aboutset">
                <div class="korea__description">
                    <div id= "about__content" class="population">
                        <div id = "about__title" >인구 :</div>
                        <div id="population__value" class="about__value"></div>
                        <div class="unit">명</div>
                    </div>
                    <div id= "about__content" class="area">
                        <div id = "about__title" >면적 :</div>
                        <div id = "area__value" class="about__value"></div>
                        <div class="unit">km<sup>2</sup></div>   
                    </div>
                    <div id= "about__content" class="gdp">
                        <div id = "about__title">GDP :</div> 
                        <div id = "gdp__value" class="about__value"></div>
                        <div class="unit">USD</div>
                    </div>
                </div>
                <div class="korea__map" id="map" style="width:500px;height:400px;"></div>
            </div>           
        </div>  
    </section>

    <!-- Contact -->
    <section id="contact" class="section">
        <h1 class="contact__title">mapmap</h1>
        <h2 class="contact__email">tpdnd7890@gmail.com</h2>
        <div class="contact__links">
            <a href="https://github.com/Dogun123" target="_blank">
                <i class="fab fa-github"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
        <p class="contact__rights">
            2021 Dogun & Seungmin - All rights reserved
        </p>
    </section>
</body>
</html>