<!DOCTYPE html>
<html lang="ko" id='home__html'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="map contents for Korean elementary social subject">
    <meta name="author" content="Dogun">
    <link rel="icon" type = "image/png" href = "imgs\map.png">
    <title>초등사회지도학습</title>
    <script src="https://kit.fontawesome.com/02390708a3.js" crossorigin="anonymous"></script>
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="home.js" defer></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ad88d7a8e094180a8cd1057c875dd395"></script>
    
</head>
<body id='home__body'>
    <!-- Navbar -->
    <section id='navbar__main'>
        <div class='header__logo'>
            <a href="../">mapmap</a>
        </div>
        <div class="navbar__menu">
            <ul class="nav__links nav__links--left">
                <li class="nav__links--item"><span class="nav__text">개요</span>
                    <div class="line"></div>
                    <ul class="dropdown_menu">   
                        <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    </ul>    
                </li>
                <li class="nav__links--item"><span class="nav__text">정보</span>
                    <div class="line"></div>
                    <ul class="dropdown_menu">
                        <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    </ul>   
                </li>
                <li class="nav__links--item"><span class="nav__text">연락처</span>
                    <div class="line"></div>
                    <ul class="dropdown_menu">
                        <li class="detail_menu top"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                        <li class="detail_menu"><a href="#">SUB_MENU</a></li>
                    </ul>   
                </li>
            </ul>
            <ul class="nav__links nav__links--right">
                <!-- <li class="nav__entrance__button"><a href="home">입장하기</a></li> -->
            </ul>
        </div>
    </section>
    
    <section id="menu__list">
        <div class="map__img">
            <img class="night" src="imgs/night.png" alt="" width="200px" />
            <img class="popu" src="imgs/popu.png" alt="" width="200px" />
            <img class="traff" src="imgs/traff.png" alt="" width="200px" />
            <img class="divi" src="imgs/divi.png" alt="" width="200px" />  
        </div>
    </section>
</body>
</html>